{%  extends 'accounts/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Applications</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Application</th>
							<th>Category</th>
							<th>Price</th>
						</tr>

						{% for i in products %}
							<tr>
								<td><a href="https://apps.apple.com/us/app/flappy-3d-birds-eye-view/id1200028026">{{i.name}}</a></td>
								<td>{{i.category}}</td>
								<td>{{i.price}}</td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}